.cursor-pointer {
  cursor: pointer;
}
.topnavbar-module-menu {
  min-width: 360px;
}
.topnavbar-module-menu > li:before,
.topnavbar-module-menu > li:after {
  content: " ";
  display: table;
}
.topnavbar-module-menu > li:after {
  clear: both;
}
.topnavbar-module-menu > li > div {
  padding-left: 0;
  padding-right: 0;
  border-left: 1px solid #cfdbe2;
  min-width: 160px;
}
.topnavbar-module-menu > li > div:first-child {
  border-left: 0;
}
.topnavbar-module-menu > li > div > a {
  display: block;
  padding: 10px 20px;
  clear: both;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.topnavbar-module-menu > li > div > a:hover,
.topnavbar-module-menu > li > div > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.topnavbar-module-menu > li > .active > a,
.topnavbar-module-menu > li > .active > a:hover,
.topnavbar-module-menu > li > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #23b7e5;
}
.js-sidebar {
  position: absolute;
  top: 52px;
  bottom: 0;
  left: 0;
  width: 200px;
  border-right: 1px solid #cfdbe2;
}
.js-sidebar > .scroller {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  background-color: #fff;
}
.js-sidebar > .scroller > .nav > li {
  cursor: pointer;
}
.js-sidebar > .scroller > .nav > li > a {
  font-size: 16px;
  padding: 12px 24px;
  color: #23b7e5;
}
.js-main-container {
  position: absolute;
  top: 52px;
  bottom: 0;
  left: 201px;
  right: 0;
  min-width: 1080px;
  box-sizing: border-box;
  border-right: 1px solid #cfdbe2;
  overflow-y: auto;
  overflow-x: auto;
  background-color: #fafafa;
}
.login-body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}
.login-body:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #eee;
  box-sizing: border-box;
}
.login-container {
  width: 300px;
  animation-name: fadeInDown;
  animation-fill-mode: both;
  position: relative;
  margin: 10% auto;
}
.login-container > .login-box {
  background-color: #fff;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  padding: 0 0 20px 0;
}
.login-container > .login-box > .title {
  position: relative;
  text-align: center;
  width: 100%;
  height: 35px;
  padding-top: 10px;
  font-family: 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
  font-size: 20px;
  font-weight: normal;
  color: #444;
}
.login-container > .login-box > .sub-title {
  font-size: 14px;
  font-weight: 500;
  color: #a9a9a9;
  margin-top: 10px;
  text-align: center;
}
.login-container > .login-box > .textbox {
  padding: 10px 40px;
  box-sizing: border-box;
}
.module-header {
  background-color: #fff;
  margin-right: -15px;
  margin-left: -15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  padding-top: 1px;
}
.module-header-btn {
  margin-top: 20px;
}
.panel-default {
  border-top-width: 3px;
}
.panel-default > .panel-heading {
  background-color: #fff;
  border-bottom: 0;
}
.control-label.col-xs-1 {
  padding-right: 0px;
}
.pager li > input {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 5px 10px;
  width: 86px;
  text-align: center;
}
.table > thead > tr {
  background-color: #fff;
}
.boa-detail-table {
  margin-top: 10px;
}
.boa-detail-table td {
  width: 70px;
}
.boa-detail-table td:first-child {
  width: 300px;
}
.boa-detail-table td:last-child {
  width: auto;
}
.table-big-container {
  overflow-x: auto;
}
.table-big-container > .table {
  width: 1280px;
}
.alert-view {
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;
  z-index: 999;
}
.alert-view > .alert {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
